Package: kpi
Version: 2.0.0
Section: misc
Priority: optional
Architecture: all
Depends: oracle-java8-installer | openjdk-8-jre
Maintainer: Stephan Lagraulet <slagraulet@ippon.fr>
Description: DevFest Microservices
Distribution: development
